@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  padding-inline: 16px;
}

.todo-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.create-todo {
  margin-block: 2rem;
}
input {
  margin-top: 2rem;
}
#todoInput {
  width: 600px;
  padding: 10px 16px;
  border: 1px solid gray;
  outline: none;
  border-radius: 8px;
}
#addBtn {
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}


#todo-list {
  list-style: none;
 
}
#todo-list button{
    padding : 10px 16px;
    border:none;
    outline:none;
    border-radius: 8px;
    position: relative;
    top: -42px;
    left:520px;
    cursor: pointer;
}

#todo-list li {
  background-color: rgb(205, 205, 205);
  margin-top: 1rem;
  padding: 10px 16px;
  width: 600px;
  border-radius: 8px;
}
